<div class="header-main" ng-controller="userCtrl">
					<div class="header-left">
							<div class="logo-name">
									 <a href="index.html"> <h1>drPro</h1> 
									<!--<img id="logo" src="" alt="Logo"/>--> 
								  </a> 								
							</div>
							<!--search-box-->
								<div class="search-box">
									<form>
										<input type="text" placeholder="Search..." required="">	
										<input type="submit" value="">					
									</form>
								</div><!--//end-search-box-->
							<div class="clearfix"> </div>
						 </div>
						 <div class="header-right">
							<div class="profile_details_left"><!--notifications of menu start -->
								<ul class="nofitications-dropdown">
									<li class="dropdown head-dpdn">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">0</span></a>
										<!-- <ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 3 new messages</h3>
												</div>
											</li>
											<li><a href="">
											   <div class="user_img"><img src="images/p4.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li class="odd"><a href="">
												<div class="user_img"><img src="images/p2.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor </p>
												<p><span>1 hour ago</span></p>
												</div>
											  <div class="clearfix"></div>	
											</a></li>
											<li><a href="">
											   <div class="user_img"><img src="images/p3.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all messages</a>
												</div> 
											</li>
										</ul> -->
									</li>
									<h4 style="color: #067ee6;" >{{notimsg}}</h4>
									<li class="dropdown head-dpdn" ><!-- <span style="color: #067ee6;">Doctor Notification</span> -->
											<div ng-mouseover="notimsg = 'Doctor Notification'" ng-mouseleave="notimsg = ''" ng-init="notimsg=">
												<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">{{notifycount}}</span></a>
											
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have {{notifycount}} new notification</h3>
												</div>
											</li>
											
											<li ng-repeat="confiremd in confirmednotification" ng-click="viewconfirmupdate(confiremd)"><a href="#/appointmentconfirmation/{{userid}}">
												<div class="user_img"><img src="./images/doctoricon.png" alt=""></div>
											    <div class="notification_desc">
													<p>{{confiremd.doctor_name}}</p>
													<p><span>{{confiremd.docappointmentdate}}</span></p>
											    </div>
											    <div class="clearfix"></div></a>
										    </li>
											 
											 <li>
												<div class="notification_bottom">
													<a href="">See all notifications</a>
												</div> 
											</li>
										</ul>
										</div>
									</li>		
									
									<li class="dropdown head-dpdn">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">0</span></a>
										<!-- <ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 8 pending task</h3>
												</div>
											</li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Database update</span><span class="percentage">40%</span>
													<div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													<div class="bar yellow" style="width:40%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
												   <div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													 <div class="bar green" style="width:90%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Mobile App</span><span class="percentage">33%</span>
													<div class="clearfix"></div>	
												</div>
											   <div class="progress progress-striped active">
													 <div class="bar red" style="width: 33%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
												   <div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													 <div class="bar  blue" style="width: 80%;"></div>
												</div>
											</a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all pending tasks</a>
												</div> 
											</li>
										</ul> -->
									</li>	
								</ul>
								<div class="clearfix"> </div>
							</div>
							<!--notification menu end -->
							<div class="profile_details" ng-repeat="cdetails in getuser | limitTo : 1">		
								<ul>
									<li class="dropdown profile_details_drop">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<div class="profile_img">	
												<span class="prfil-img"><img style="width: 55px;" src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{cdetails.userphoto}}" alt=""> </span> 
												<div class="user-name">	
													<p>{{cdetails.customer_name}}</p>
													<span>{{cdetails.typeofreg}}</span>
												</div>
												<i class="fa fa-angle-down lnr"></i>
												<i class="fa fa-angle-up lnr"></i>
												<div class="clearfix"></div>	
											</div>	
										</a>
										<ul class="dropdown-menu drp-mnu">
											<li> <a href="#/dashboard/{{cdetails.customer_id}}"><i class="fa fa-cog"></i> Settings</a> </li> 
											<li data-toggle="modal" data-target="#modalLoginAvatar"> <a href=""><i class="fa fa-user" ></i> Profile</a> </li> 
											<li> <a href="#/index-login"><i class="fa fa-sign-out"></i> Logout</a> </li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="clearfix"> </div>				
						</div>
				     <div class="clearfix"> </div>	
				
				
				
				
				<div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
				    <!--Content-->
				    <div class="modal-content" ng-repeat="userview in getuser | limitTo : 1">
				
				      <!--Header-->
				      <div class="modal-header" style="text-align: center;">
				        <img id="viewimg" style="width: 100px;height: 100px;" src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{userview.userphoto}}"/>
				      </div>
				      <!--Body-->
				      <div class="modal-body text-center mb-1">
				
				        <h3 class="mt-1 mb-2">{{userview.customer_name}}</h3>
				
				        <div class="md-form ml-0 mr-0">
				          <label data-error="wrong" data-success="right" for="form29" class="ml-0">{{userview.customer_email}}</label>
				          <h5>{{userview.customer_phone}}</h5>
				        </div>
				        </br>
				        <div class="text-center mt-4">
				           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				          <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal" ng-click="edituser(userview)">Edit Profile</button>
				        </div>
				      </div>
				
				    </div>
				    <!--/.Content-->
				  </div>
				</div>

				<!-- Modal class for user edit -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				            <div class="modal-body"><div class="login-logo">
				                    <h4 href="index.html">
				                        User Registration
				                    </h4>
				                </div>
				                <div class="login-form">
				                    <form>
				                        <div class="form-group">
				                            <label>Name</label>
				                            <input type="text" class="form-control" ng-model="customername" placeholder="Customer Name">
				                        </div>
				                        <div class="form-group">
				                            <label>Street</label>
				                            <input type="text" class="form-control" ng-model="address" placeholder="User Address">
				                        </div>
				                        <div class="form-group">
				                            <label>Phone No</label>
				                            <input type="text" class="form-control" ng-model="contactno" placeholder="Contact No">
				                        </div>
				                        <div class="form-group">
				                            <label>Upload Image:</label>
				                           <input type="file" ng-model="userphoto" id="i_file" class="imgupload" class="form-control" />
				                            <img id="viewimg" style="width: 100px;height: 100px;" src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{userphoto}}"/>
				                        </div>
				                            <input type="hidden" ng-init='userreg();' class="form-control"  value="{{typeofreg}}" placeholder="reg">
				                        <!-- <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30"  style="display: block;">Update</button></br> -->
				                    </form>
				                </div>
				            
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <button type="submit" class="btn btn-primary" ng-click="updateuserreg()">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
				
	</div>