<div class="header-main" ng-controller="docCtrl">
					<div class="header-left">
							<div class="logo-name">
									 <a href="index.html"> <h1>drPro</h1> 
									<!--<img id="logo" src="" alt="Logo"/>--> 
								  </a> 								
							</div>
							<!--search-box-->
								<div class="search-box">
									<form>
										<input type="text" placeholder="Search..." required="">	
										<input type="submit" value="">					
									</form>
								</div><!--//end-search-box-->
							<div class="clearfix"> </div>
						 </div>
						 <div class="header-right">
							<div class="profile_details_left"><!--notifications of menu start -->
								<ul class="nofitications-dropdown">
									<li class="dropdown head-dpdn">
<<<<<<< HEAD
										<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">0</span></a>
										<!-- <ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 3 new messages</h3>
												</div>
											</li>
											<li><a href="#">
											   <div class="user_img"><img src="images/p4.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li class="odd"><a href="#">
												<div class="user_img"><img src="images/p2.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor </p>
												<p><span>1 hour ago</span></p>
												</div>
											  <div class="clearfix"></div>	
											</a></li>
											<li><a href="#">
											   <div class="user_img"><img src="images/p3.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all messages</a>
												</div> 
											</li>
										</ul> -->
									</li>
									
									<li class="dropdown head-dpdn">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">{{notifycount}}</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have {{notifycount}} new customer notification</h3>
												</div>
											</li>
											 <li class="odd" ng-click="notificationupdate(notify )" ng-repeat="notify in notification"><a href="" >
												<div class="user_img"><img src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{notify.userphoto}}" alt=""></div>
											   <div class="notification_desc">
												<p>{{notify.customer_name}}</p>
												<p><span>{{notify.dateandtime}}</span></p>
												</div>
											   <div class="clearfix"></div>	
											 </a></li>
											 <li>
												<div class="notification_bottom">
													<a href="">See all notifications</a>
												</div> 
											</li>
										</ul>
									</li>	
									
									<li class="dropdown head-dpdn">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">{{mednotifycount}}</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have {{mednotifycount}} pending Notification</h3>
												</div>
											</li>
											<li ng-click="notificationmedupdate(mednotify)" ng-repeat="mednotify in mednotification"><a href="" >
												<div class="user_img"><img src="./images/medref.jpg" alt=""></div>
											   <div class="notification_desc">
												<p>{{mednotify.med_name}}</p>
												<p><span>{{mednotify.dateandtime}}</span></p>
												</div>
											   <div class="clearfix"></div>	
											 </a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all pending tasks</a>
												</div> 
											</li>
										</ul>
									</li>	
								</ul>
								<div class="clearfix"> </div>
							</div>
							<!--notification menu end -->
							<div class="profile_details" ng-repeat="docdetails in getdocdata | limitTo : 1">		
								<ul>
									<li class="dropdown profile_details_drop">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<div class="profile_img">
												<span class="prfil-img"><img style="width: 55px;" src="images/doctoricon.png" alt=""> </span> 
												<div class="user-name">	
													<p>{{docdetails.doctor_name}}</p>
													<span>{{docdetails.typeofreg}}</span>
												</div>
												<i class="fa fa-angle-down lnr"></i>
												<i class="fa fa-angle-up lnr"></i>
												<div class="clearfix"></div>	
											</div>	
										</a>
										<ul class="dropdown-menu drp-mnu">
											<li> <a href="#/doctordashboard/{{docdetails.doctorid}}"><i class="fa fa-cog"></i> Settings</a> </li> 
											<li data-toggle="modal" data-target="#modalLoginAvatar"> <a href=""><i class="fa fa-user"></i> Profile</a> </li> 
											<li> <a href="#/doctordashboard/{{docdetails.doctorid}}"><i class="fa fa-sign-out"></i> Logout</a> </li>
										</ul>
									</li>
								</ul>
							</div>
							
							<div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
							    <!--Content-->
							    <div class="modal-content" ng-repeat="docdata in getdocdata | limitTo : 1">
							
							      <!--Header-->
							      <div class="modal-header" style="text-align: center;">
							        <img id="viewimg" style="width: 100px;height: 100px;" src="./images/doctoricon.png"/>
							      </div>
							      <!--Body-->
							      <div class="modal-body text-center mb-1">
							
							        <h3 class="mt-1 mb-2">{{docdata.doctor_name}}</h3>
							
							        <div class="md-form ml-0 mr-0">
							          <label data-error="wrong" data-success="right" for="form29" class="ml-0">{{docdata.doctor_email}}</label>
							          <h5>{{docdata.phoneno}}</h5>
							        </div>
							        </br>
							        <div class="text-center mt-4">
							           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							          <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal" ng-click="editdoctor(docdata)">Edit Profile</button>
							        </div>
							      </div>
							
							    </div>
							    <!--/.Content-->
							  </div>
							</div>
	
	
	
								<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								            <div class="modal-body"><div class="login-logo">
								                    <h4 href="index.html">
								                        Doctor Registration
								                    </h4>
								                </div>
								                <div class="login-form">
								                    <form>
								                        <div class="form-group">
								                            <label>Doctor Name</label>
								                            <input type="text" class="form-control" ng-model="docname" placeholder="Customer Name">
								                        </div>
								                        <div class="form-group">
								                            <label>Street</label>
								                            <input type="text" class="form-control" ng-model="location" placeholder="User Address">
								                        </div>
								                        <div class="form-group">
								                            <label>Phone No</label>
								                            <input type="text" class="form-control" ng-model="docphoneno" placeholder="Contact No">
								                        </div>
								                        <div class="form-group">
								                            <label>Doctor Available Time</label>
								                            <input type="text" class="form-control" ng-model="getdocdate" id="doctime" name="datetimes" />
								                        </div>
								                        <div class="form-group">
								                            <label>Doctor Status</label>
								                            <select  ng-model="docstatus" class="form-control">
								                            	<option value="Available">Available</option>
								                            	<option value="Busy">Busy</option>
								                            </select>
								                        </div>
								                        <div class="form-group">
								                            <label>Upload Image:</label>
								                           <input type="file" ng-model="userphoto" id="i_file" class="imgupload" class="form-control" />
								                            <img id="viewimg" style="width: 100px;height: 100px;" src="./images/doctoricon.png"/>
								                        </div>
								                            <input type="hidden" ng-init='userreg();' class="form-control"  value="{{typeofreg}}" placeholder="reg">
								                        <!-- <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30"  style="display: block;">Update</button></br> -->
								                    </form>
								                </div>
								            
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								        <button type="submit" class="btn btn-primary" ng-click="updatedocreg()">Save changes</button>
								      </div>
								    </div>
								  </div>
								</div>
								
=======
										<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">3</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 3 new messages</h3>
												</div>
											</li>
											<li><a href="#">
											   <div class="user_img"><img src="images/p4.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li class="odd"><a href="#">
												<div class="user_img"><img src="images/p2.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor </p>
												<p><span>1 hour ago</span></p>
												</div>
											  <div class="clearfix"></div>	
											</a></li>
											<li><a href="#">
											   <div class="user_img"><img src="images/p3.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all messages</a>
												</div> 
											</li>
										</ul>
									</li>
									
									<li class="dropdown head-dpdn">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">{{notifycount}}</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have {{notifycount}} new customer notification</h3>
												</div>
											</li>
											 <li class="odd" ng-click="notificationupdate(notify )" ng-repeat="notify in notification"><a href="" >
												<div class="user_img"><img src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{notify.userphoto}}" alt=""></div>
											   <div class="notification_desc">
												<p>{{notify.customer_name}}</p>
												<p><span>{{notify.dateandtime}}</span></p>
												</div>
											   <div class="clearfix"></div>	
											 </a></li>
											 <li>
												<div class="notification_bottom">
													<a href="">See all notifications</a>
												</div> 
											</li>
										</ul>
									</li>	
									
									<li class="dropdown head-dpdn">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">{{mednotifycount}}</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have {{mednotifycount}} pending Notification</h3>
												</div>
											</li>
											<li ng-click="notificationmedupdate(mednotify)" ng-repeat="mednotify in mednotification"><a href="" >
												<div class="user_img"><img src="./images/medref.jpg" alt=""></div>
											   <div class="notification_desc">
												<p>{{mednotify.med_name}}</p>
												<p><span>{{mednotify.dateandtime}}</span></p>
												</div>
											   <div class="clearfix"></div>	
											 </a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all pending tasks</a>
												</div> 
											</li>
										</ul>
									</li>	
								</ul>
								<div class="clearfix"> </div>
							</div>
							<!--notification menu end -->
							<div class="profile_details" ng-repeat="docdetails in getdocdata | limitTo : 1">		
								<ul>
									<li class="dropdown profile_details_drop">
										<a href="#/doctordashboard/{{docdetails.doctorid}}" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<div class="profile_img">
												<span class="prfil-img"><img style="width: 55px;" src="images/doctoricon.png" alt=""> </span> 
												<div class="user-name">	
													<p>{{docdetails.doctor_name}}</p>
													<span>{{docdetails.typeofreg}}</span>
												</div>
												<i class="fa fa-angle-down lnr"></i>
												<i class="fa fa-angle-up lnr"></i>
												<div class="clearfix"></div>	
											</div>	
										</a>
										<ul class="dropdown-menu drp-mnu">
											<li> <a href="#/doctordashboard/{{docdetails.doctorid}}"><i class="fa fa-cog"></i> Settings</a> </li> 
											<li data-toggle="modal" data-target="#modalLoginAvatar"> <a href=""><i class="fa fa-user"></i> Profile</a> </li> 
											<li> <a href="#/doctordashboard/{{docdetails.doctorid}}"><i class="fa fa-sign-out"></i> Logout</a> </li>
										</ul>
									</li>
								</ul>
							</div>
>>>>>>> refs/remotes/origin/master
							<div class="clearfix"> </div>				
						</div>
				     <div class="clearfix"> </div>	
				</div>