<<<<<<< HEAD
	<style>
		  #menu li a {color: #ffffff}
		  #menu li.grey a {color: #999999}
				
		  /* #myDIV .navit-nav li.active > a {
			background-color: #333;
			color: #fff;
		  }   */
		  .activeState{
			color:#F2B33F !important;	
		  }
	</style>
	<div class="sidebar-menu">
		  	<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span> 
			      <!--<img id="logo" src="" alt="Logo"/>--> 
			  </a> </div>		  
		    <div class="menu" ng-controller="userCtrl">
			    <div id="myDIV">
			      <ul id="menu" class="navit-nav">
			        <li id="menu-home"><a ui-sref="dashboard({customer_id:userid})" ui-sref-active="activeState"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
			        <li><a ui-sref="animal-register({customer_id:userid})" ui-sref-active="activeState"><i class="fa fa-user"></i>Pet Registration</a></li>
			        <!-- <li><a ng-class="getClass('#/petview/{{userid}}')" href="#/petview/{{userid}}"><span><i class="fa fa-paw"></i>Pet Details</span></a></li> -->
					<li><a ui-sref="petmap({customer_id:userid})" ui-sref-active="activeState" href="#/petmap/{{userid}}"><i class="fa fa-map-marker"></i><span>Maps</span></a></li>
			        <li><a ui-sref="petchart({customer_id:userid})" ui-sref-active="activeState" href="#/petchart/{{userid}}"><i class="fa fa-bar-chart"></i><span>Charts</span></a></li>
			        <li><a ui-sref="doctorview({customer_id:userid})" ui-sref-active="activeState"><i class="fa fa-user-md"></i><span>Doctor</span></a></li>
			        
			        <li><a href=""><i class="fa fa-shopping-cart"></i><span>E-Commerce</span><span class="fa fa-angle-right" style="float: right"></span></a>
			         	<ul id="menu-academico-sub" >
				           <li id="menu-academico-avaliacoes" ><a ui-sref="customerproduct({customer_id:userid})" ui-sref-active="activeState">Food Market</a></li>
				           <li id="menu-academico-boletim" ><a ui-sref="customercattle({customer_id:userid})" ui-sref-active="activeState" >Pet Market</a></li>
			            </ul>
			        </li>
			      </ul>
			    </div>
		    </div>
	 </div>

    <script>
    
    </script>
=======
<style>
	#menu li a {color: #ffffff}
#menu li.grey a {color: #999999}
</style>
<div class="sidebar-menu">
		  	<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span> 
			      <!--<img id="logo" src="" alt="Logo"/>--> 
			  </a> </div>		  
		    <div class="menu" ng-controller="userCtrl">
		      <ul id="menu" class="clearfix">
		        <li id="menu-home" ><a href="#/dashboard/{{userid}}"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
		        <li><a ng-class="getClass('#/animal-register/{{userid}}')" href="#/animal-register/{{userid}}"><i class="fa fa-user"></i>Pet Registration</a></li>
		        <!-- <li><a ng-class="getClass('#/petview/{{userid}}')" href="#/petview/{{userid}}"><span><i class="fa fa-paw"></i>Pet Details</span></a></li> -->
		        <li><a ng-class="getClass('#/petmap/{{userid}}')" href="#/petmap/{{userid}}"><i class="fa fa-map-marker"></i><span>Maps</span></a></li>
		        <li><a ng-class="getClass('#/petchart/{{userid}}')" href="#/petchart/{{userid}}"><i class="fa fa-bar-chart"></i><span>Charts</span></a></li>
		        <li><a ng-class="getClass('#/doctorview/{{userid}}')" href="#/doctorview/{{userid}}"><i class="fa fa-user-md"></i><span>Doctor</span></a></li>
		        
		         <li><a href=""><i class="fa fa-shopping-cart"></i><span>E-Commerce</span><span class="fa fa-angle-right" style="float: right"></span></a>
		         	<ul id="menu-academico-sub" >
			           <li id="menu-academico-avaliacoes" ><a href="#/customerproduct/{{userid}}">Food Market</a></li>
			           <li id="menu-academico-boletim" ><a href="#/customercattle/{{userid}}">Pet Market</a></li>
		             </ul>
		         </li>
		      </ul>
		    </div>
	 </div>
>>>>>>> refs/remotes/origin/master
	 
	