<div class="sidebar-menu">
 	<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span></a></div>		  
	<div class="menu" ng-controller="medCtrl">
	     <ul id="menu">
	       <li id="menu-home"><a href="#/meddashboard/{{medid}}"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
	       <!-- <li><a href="#/med-doctordetails/{{medid}}"><i class="fa fa-user" aria-hidden="true"></i><span>Doctor Details</span></a></li> -->
	       <li><a href="#/med-docappointment/{{medid}}"><i class="fa fa-envelope" aria-hidden="true"></i>Appointment Details</a></li>
	     </ul>
    </div>
</div>