<style>
/* The container */
.container1 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #5cb85c;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container1 .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.bckimg{
    background-image: url("./images/natureanimal.jpg");
}
</style>



<div ng-controller="regCtrl" class="bckimg">
    <div class="sufee-login d-flex align-content-center flex-wrap" style="height: 938px" >
        <div class="container">
        	<!-- <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin-left: 56%;position: absolute;margin-top: 40px;">Registration</button> -->
            <div class="login-content">
                <div class="login-logo">
                    <!-- <h4 class="align-content" style="color: azure"  href="#">
                        Select the Registration Role
                    </h4> -->
                    <select ng-model="regtype" ng-change="changedValue(regtype)" name="Registration" style="height:30px;padding: 0 48px;">
                         <option value="" disabled selected>Select your role</option>
                    	 <option value="customer">Customer</option>
                    	 <option value="vetdoctor">Vet Doctor</option> 
                    	 <option value="seller">Seller</option> 
                    	 <option value="medical">Medical Supporter</option>
                    </select>
                   
                </div>
                <div class="login-form" style="background: #dcd5a6 !important;">
                    <form ng-submit="singin(loginform.$valid)" novalidate name="loginform">
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="text" ng-model="uname" name="username" class="form-control" placeholder="username" required>
                        
                        </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" ng-model="pwd" class="form-control" name="password" placeholder="Password" required>
                               <!--  <span><span ng-show="loginform.password.$error.ecompassword" style="color:#ff2e44">wrong password</span> </span> -->
                            
                            </div>
                                <div class="checkbox">
                                    <label>
                                <input type="checkbox"> Remember Me
                            </label>
                                    <label class="pull-right">
                                <a href="#">Forgotten Password?</a>
                            </label>

                                </div>
                                <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
                                 <span><span ng-show="loader" style="color:#ff2e44"><i class="fas fa-spinner"></i></span> </span>
                                <span><span ng-if="loginform.password.$error.ecompassword" style="color:#ff2e44">invalid username or password</span> </span>
                                <!-- <div class="social-login-content">
                                    <div class="social-button">
                                        <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i class="ti-facebook"></i>Sign in with facebook</button>
                                        <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i class="ti-twitter"></i>Sign in with twitter</button>
                                    </div>
                                </div> -->
                                <div class="register-link m-t-15 text-center">
                                    <p>Don't have account ? <a data-toggle="modal" data-target="#myModal"> Sign Up Here</a></p>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   <div class="modal fade"  id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content loginmodelcont">
        <div class="modal-header loginmodel">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">TYPE OF REGISTRATIONS</h4>
        </div>
        <div class="modal-body">
			<label class="container1">User
			  <input type="radio" checked="checked" ng-model="getuser" value="user" name="radio">
			  <span class="checkmark"></span>
			</label>
			<label class="container1">Vet Doctor
			  <input type="radio" name="radio" ng-model="getuser" value="doctor">
			  <span class="checkmark"></span>
			</label>
			<label class="container1">Medical Supporter
			  <input type="radio" name="radio" ng-model="getuser" value="supporter">
			  <span class="checkmark"></span>
			</label>
			<label class="container1">Distributor
			  <input type="radio" name="radio" ng-model="getuser" value="distributor">
			  <span class="checkmark"></span>
			</label>
			<label class="container1">seller
			  <input type="radio" name="radio" ng-model="getuser" value="seller">
			  <span class="checkmark"></span>
			</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" ng-click="regclk()">OK</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>

