<style>
	.bckimg{
	  background-image: url("./images/natureanimal.jpg");
	}
</style>

   <div ng-controller="regCtrl" class="sufee-login d-flex align-content-center flex-wrap bckimg" style="height: 1043px"> <!-- background:#343a40!important; -->
        <div class="container">
            <div class="login-content" >
                <div class="login-logo">
                    <h4 href="index.html" style="color: azure">
                        User Registration
                    </h4>
                </div>
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="customername" placeholder="Customer Name">
                        </div>
                        <div class="form-group">
                            <label>Street</label>
                            <input type="text" class="form-control" ng-model="address" placeholder="User Address">
                        </div>
                        <div class="form-group">
                            <label>Phone No</label>
                            <input type="text" class="form-control" ng-model="contactno" placeholder="Contact No">
                        </div>
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" class="form-control" ng-model="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" ng-model="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label>Device Id</label>
                            <input type="text" class="form-control" ng-model="uid" placeholder="UID">
                        </div>
                         <div class="form-group">
                            <label>Image Upload</label>
                            <input type="file" class="form-control imgupload"  ng-model="userphoto" placeholder="Image">
                        </div>
                            <input type="hidden" ng-init='userreg();' class="form-control"  value="{{typeofreg}}" placeholder="reg">
                        <div class="checkbox">
                            <label>
			                   <input type="checkbox"> Agree the terms and policy
			                </label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" ng-click="saveuserreg()" style="display: block;">Register</button></br>
                        <button type="submit" class="btn btn-info btn-flat m-b-30 m-t-30" ng-click="prevlogin()">Back to Login</button>
                        <div class="register-link m-t-15 text-center">
                            <p>Already have account ? <a href="#"> Sign in</a></p>
                        </div>
                    </form>
                </div>
            </div>
            </div>
  </div>
