<style>
	.bckimg{
	  background-image: url("./images/bricks-bckground.jpg");
	}
</style>
<div ng-controller="regCtrl" class="sufee-login d-flex align-content-center flex-wrap bckimg" style="height: 1043px"> <!-- background:#343a40!important; -->
<div class="container" id="getdoctor" ng-controller="docCtrl">
            <div class="login-content" >
                <div class="login-logo">
                    <h4 href="index.html" style="color: azure">
                        Veterinary Doctor Registration
                    </h4>
                </div>
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <label>Doctore Name</label>
                            <input type="text" class="form-control" ng-model="docname" placeholder="Doctor Name">
                        </div>
                            <div class="form-group">
                            <label>Email address</label>
                            <input type="email" class="form-control" ng-model="docemail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>Contact No</label>
                            <input type="text" class="form-control" ng-model="docphoneno" placeholder="Contact No">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" ng-model="pwd" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <input type="text" class="form-control" ng-model="location" placeholder="Location">
                        </div>
                         <input type="hidden" ng-init='docreg();' class="form-control"  value="{{typeofreg}}" placeholder="reg">
                        <div class="checkbox">
                            <label>
			                   <input type="checkbox"> Agree the terms and policy
			                </label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" style="display: block;" ng-click="savedocreg()">Register</button></br>
                         <button type="submit" class="btn btn-info btn-flat m-b-30 m-t-30" ng-click="prevlogin()">Back to Login</button>
                        <div class="register-link m-t-15 text-center">
                            <p>Already have account ? <a href="#"> Sign in</a></p>
                        </div>
                    </form>
                </div>
            </div>
            </div>
       </div>